<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.spring.ibatis.User">
    <select id="querUserById" parameterType="int" resultType="org.study.spring.ibatis.User">
        <![CDATA[
            select id, user_no as userNo from t_user where id = #{id}
        ]]>
    </select>

    <update id="updateUserNo">
        update t_user set user_no = #{userNo} where id = #{id}
    </update>
</mapper>